<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright ${license.git.copyrightYears} the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.UserMapper">

  <!--type：cache使用的类型，默认是PerpetualCache，这在一级缓存中提到过。
      eviction： 定义回收的策略，常见的有FIFO，LRU。
      flushInterval： 配置一定时间自动刷新缓存，单位是毫秒。
      size： 最多缓存对象的个数。
      readOnly： 是否只读，若配置可读写，则需要对应的实体类能够序列化。
      blocking： 若缓存中找不到对应的key，是否会一直blocking，直到有对应的数据进入缓存。
      -->
  <cache></cache>

    <!--useCache默认值也是true-->
    <select id="findByCondition" parameterType="int" resultType="com.itheima.pojo.User" useCache="true" >
        SELECT id,username FROM  user WHERE id = #{id}
    </select>

  <update id="updateUser" parameterType="com.itheima.pojo.User" >
        update user set username = #{username} where id = #{id}
  </update>



</mapper>
